<%= form_tag("/searches", :method => "post", remote: true) do %>
  <div class="field">
    <%= text_field_tag :query %>
    <%= hidden_field_tag :playlist_id, @playlist.id %>
  </div>
  <div class="actions">
    <%= submit_tag "Search for Songs" %>
  </div>
<% end %>