<h1>Search Results</h1>
<p><%= link_to "clear results", playlist_path(@playlist) %></p>
<ul>
<% @search_results.each_with_index do |result, i| %>
  <li id="search_result_<%= i + 1 %>"><%= result.title %> | <%= render partial: "songs/add_song", locals: { result: result, playlist: @playlist } %></li>
<% end %>
</ul>
