<h1><%= @playlist.name %></h1>

<%= render :partial => "searches/form" %>

<div id="search_results"></div>

<h1>Songs</h1>
<% if @playlist.songs.empty? %>
  <h3>No Songs have been added yet!</h3>
<% else %>
  <h3><% @playlist.songs.each do |song| %></h3>
    <ul>
      <li><%= song.title %> | <%= link_to "remove", remove_song_path(:playlist_id => @playlist.id, :song_id => song.id) %> </li>
    </ul>
  <% end %>
<% end %>

<% unless @playlist.songs.empty? %>
  <div id="player"></div>
<% end %>
